<a href="https://colab.research.google.com/github/kkh9372/Colab/blob/main/Ch2.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/7_%EC%84%9C%ED%8F%AC%ED%8A%B8_%EB%B2%A1%ED%84%B0%EB%A8%B8%EC%8B%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/10/20
이름 : 김관후 
내용 : 서포트벡터머신 실습하기
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
######## XOR 머신러닝 #######
train_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
train_label = [0, 1, 1, 0]

In [ ]:
# 학습하기
#model = svm.SVC()
#model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# 테스트하기
test_data = [[0, 1], [1, 1], [1, 0]]
result = model.predict(test_data)
result

array([0, 0, 0])

In [ ]:
###### iris 머신러닝 #######
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
# 학습 데이터 
iris_data = df_iris.iloc[:,0:4]
iris_label = df_iris.iloc[:,4]
iris_data

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)
train_data

     sepal.length  sepal.width  petal.length  petal.width
149           5.9          3.0           5.1          1.8
17            5.1          3.5           1.4          0.3
24            4.8          3.4           1.9          0.2
139           6.9          3.1           5.4          2.1
135           7.7          3.0           6.1          2.3
..            ...          ...           ...          ...
60            5.0          2.0           3.5          1.0
137           6.4          3.1           5.5          1.8
107           7.3          2.9           6.3          1.8
53            5.5          2.3           4.0          1.3
109           7.2          3.6           6.1          2.5

[112 rows x 4 columns]

In [ ]:
# 학습하기
model = svm.SVC()
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# 테스트하기
result = model.predict(test_data)

In [ ]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9736842105263158

In [ ]:
###### pima 머신러닝 #######
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [ ]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]
pima_data
pima_train_data, pima_test_data, pima_train_label, pima_test_label = pima_train_test_split(pima_data, pima_label)
pima_train_data

NameError: ignored

In [ ]:
# 학습하기
model= svm.SVC(kernel = 'linear')
model.fit(pima_train_data, pima_train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# 테스트하기
pima_result = model.predict(pima_data)

In [ ]:
score = metrics.accuracy_score(pima_result, pima_label)
score

0.6822916666666666