<a href="https://colab.research.google.com/github/kkh9372/Colab/blob/main/Ch2.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/10_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/10/20
이름 : 김관후 
내용 : 랜덤포레스트 실습하기
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree, metrics
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# 데이터셋 확인
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [ ]:
# 데이터 불러오기
df_iris = sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# 학습데이터
iris_train_data = df_iris.iloc[:, 0:4]
iris_train_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_train_data, iris_train_label)
train_data

     sepal_length  sepal_width  petal_length  petal_width
92            5.8          2.6           4.0          1.2
131           7.9          3.8           6.4          2.0
16            5.4          3.9           1.3          0.4
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
..            ...          ...           ...          ...
139           6.9          3.1           5.4          2.1
85            6.0          3.4           4.5          1.6
110           6.5          3.2           5.1          2.0
107           7.3          2.9           6.3          1.8
24            4.8          3.4           1.9          0.2

[112 rows x 4 columns]

In [ ]:

# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 테스트하기
result = model.predict(test_data)

In [ ]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9473684210526315

In [ ]:
############## pima 머신러닝 #################
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [ ]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]

pima_train_data, pima_test_data, pima_train_label, pima_test_label = train_test_split(pima_data, pima_label, test_size=0.05)
pima_test_data

      0    1    2   3    4     5      6   7
526   1   97   64  19   82  18.2  0.299  21
422   0  102   64  46   78  40.6  0.496  21
436  12  140   85  33    0  37.4  0.244  41
61    8  133   72   0    0  32.9  0.270  39
408   8  197   74   0    0  25.9  1.191  39
521   3  124   80  33  130  33.2  0.305  26
56    7  187   68  39  304  37.7  0.254  41
519   6  129   90   7  326  19.6  0.582  60
151   4  114   65   0    0  21.9  0.432  37
357  13  129    0  30    0  39.9  0.569  44
132   3  170   64  37  225  34.5  0.356  30
295   6  151   62  31  120  35.5  0.692  28
223   7  142   60  33  190  28.8  0.687  61
187   1  128   98  41   58  32.0  1.321  33
567   6   92   62  32  126  32.0  0.085  46
369   1  133  102  28  140  32.8  0.234  45
355   9  165   88   0    0  30.4  0.302  49
635  13  104   72   0    0  31.2  0.465  38
130   4  173   70  14  168  29.7  0.361  33
237   0  179   90  27    0  44.1  0.686  23
25   10  125   70  26  115  31.1  0.205  41
423   2  115   64  22    0  30.8  0.421  21
402   5  136   84  41   88  35.0  0.286  35
309   2  124   68  28  205  32.9  0.875  30
542  10   90   85  32    0  34.9  0.825  56
174   2   75   64  24   55  29.7  0.370  33
697   0   99    0   0    0  25.0  0.253  22
528   0  117   66  31  188  30.8  0.493  22
534   1   77   56  30   56  33.3  1.251  24
485   0  135   68  42  250  42.3  0.365  24
201   1  138   82   0    0  40.1  0.236  28
552   6  114   88   0    0  27.8  0.247  66
356   1  125   50  40  167  33.3  0.962  28
232   1   79   80  25   37  25.4  0.583  22
615   3  106   72   0    0  25.8  0.207  27
539   3  129   92  49  155  36.4  0.968  32
679   2  101   58  17  265  24.2  0.614  23
261   3  141    0   0    0  30.0  0.761  27
165   6  104   74  18  156  29.9  0.722  41

In [ ]:
# 학습하기
model = RandomForestClassifier()
model.fit(pima_train_data, pima_train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 테스트하기
pima_result = model.predict(pima_data)

In [ ]:
# 성능평가
score = metrics.accuracy_score(pima_result, pima_label)
score

0.9856770833333334